@model Craig.Models.User

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h2>Create User</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @autofocus = "autofocus" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger validation-right-spacing" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger validation-right-spacing" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger validation-right-spacing" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger validation-right-spacing" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger validation-right-spacing" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmployeeNumber, new { htmlAttributes = new { @class = "form-control", @type = "text" }})
                @Html.ValidationMessageFor(model => model.EmployeeNumber, "", new { @class = "text-danger validation-right-spacing" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CraigRole, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CraigRole, (List<SelectListItem>)ViewData["CraigRoleList"], "--- Please Select ---", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CraigRole, "", new { @class = "text-danger validation-right-spacing" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ServerListRole, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.DropDownListFor(model => model.ServerListRole, (List<SelectListItem>)ViewData["CraigRoleList"], "--- Please Select ---", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ServerListRole, "", new { @class = "text-danger validation-right-spacing" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <input type="submit" value="Create" class="btn btn-success margin-right-1"/>
                <input id="reset" type="reset" value="Reset" class="btn btn-info margin-right-1"/>
                <a href="@Url.Action("Index", "Users")" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </div>
}

@Scripts.Render("~/Scripts/MYJS/Site.js")
